--> Series and dataframes
--> Conditional filtering and useful methods
--> missing data
--> grouping operations
--> text and time methods
--> inputs and outputs

In [2]:
import pandas as pd
import numpy as np

In [4]:
myindex = ['USA','Canada','England']
mydata = [1776,1876,1821]
series = pd.Series(data=mydata) #data is an argument here
series

0    1776
1    1876
2    1821
dtype: int64

In [9]:
series = pd.Series(data=mydata, index=myindex) #data equates to the actual data, index equates to the indices given by us
series

USA        1776
Canada     1876
England    1821
dtype: int64

In [12]:
ran_data = np.random.randint(0,100,4)
ran_data
names = ['Swapnil','Shreyas','Ameya','Sagar']
ser = pd.Series(ran_data,names)
print(ser)

Swapnil    49
Shreyas    38
Ameya      40
Sagar       6
dtype: int32

In [16]:
#creating a series from dictionary
ages = {"Swapnil":5,'sagar':8,'shreyas':12}
print(pd.Series(ages))

Swapnil     5
sagar       8
shreyas    12
dtype: int64

In [21]:
#Using named index
#imaginary sales data for 1st and 2nd quarters for a global company

q1 = {'Japan':80,'Germany':50,'USA':100,'India':200}
q2 = {'Russia':10,'Germany':70,'USA':200,'India':500}

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
print(sales_q1)
sales_q2

Japan       80
Germany     50
USA        100
India      200
dtype: int64

Russia      10
Germany     70
USA        200
India      500
dtype: int64

In [24]:
print(sales_q1.keys()[0]) #key of the 0th index position
sales_q1.keys() # all the keys are printed

Japan

Index(['Japan', 'Germany', 'USA', 'India'], dtype='object')

In [28]:
q3 = {'Japan':'country','Germany':50,'USA':100,'India':200}
sales_q3 = pd.Series(q3)
print(sales_q3*2)
print(sales_q1/100)

Japan      countrycountry
Germany               100
USA                   200
India                 400
dtype: object
Japan      0.8
Germany    0.5
USA        1.0
India      2.0
dtype: float64

In [36]:
#mismatach with NaN
print(sales_q1 + sales_q2)

Germany    120.0
India      700.0
Japan        NaN
Russia       NaN
USA        300.0
dtype: float64

In [38]:
#fill NaN values with any matching data type value you want
print(sales_q1.add(sales_q2,fill_value=0))

Germany    120.0
India      700.0
Japan       80.0
Russia      10.0
USA        300.0
dtype: float64

In [49]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3)) #4x3 array is created
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [50]:
myindex = ['CA','NY','AZ','TX']
mycol = ['Jan','Feb','Mar']

In [54]:
df = pd.DataFrame(data=mydata,index=myindex)
df

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [55]:
df = pd.DataFrame(data=mydata,index=myindex, columns = mycol)
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes